<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head"></head>
<body>
	<div class="container">

		<div th:replace="navigation :: navigation"></div>

		<div>
			<a th:href="@{/outposts/{id}(id=${outpost.outpostId})}">Back</a>
		</div>

		<h1 th:text=${outpost.name}></h1>

		<form th:action="@{/outposts/{id}/stock(id=${outpost.outpostId})}" method="post">
			<table>
				<tr>
					<th>Item</th>
					<th>Quantity</th>
				</tr>
				<tr th:each="stock : ${outpost.stock}">
					<td th:text="${stock.itemName}"></td>
					<td><input type="hidden" name="itemId" th:value="${stock.itemId}" />
						<input type="text" name="quantity" th:value="${stock.quantity}"></td>
				</tr>
			</table>
			<input type="submit" value="Save" />
		</form>
	</div>
</body>
</html>
